---
import BoardLayout from '@/layouts/BoardLayout.astro'
import shuoshuo from '../../plugins/shuoshuo.js?url';
---

<BoardLayout title='留言板' comment>
<div style="text-align:center; line-height:1.8; padding:20px 0;">
  <h2 style="font-size:26px; margin-bottom:12px;">欢迎来到留言板</h2>
  <p style="font-size:16px; color:#444;">您可以在这里与我和他人畅所欲言 🎤</p>
  <p style="font-size:16px; color:#444;">对本博客提出您认为不足之处 ✔️</p>
  <p style="font-size:16px; color:#444;">您的每条留言都是我成长的动力 💪</p>
</div>

<div id="talk"></div>
<div class="limit">- 只展示最近30条说说 -</div>
<script src={shuoshuo} no-pjax is:inline></script>

</BoardLayout>