---
import { Button, CardList, Collapse } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ, terms } from '@/site-config'

const meta = {
  title: '网站政策',
  description: '网站政策文档'
}
---

<PageLayout {meta}>
  <Button title='Back' href='/' variant='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>网站政策</h1>
    </div>

    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>网站政策文档</h2>
      <CardList {...terms} />
      <h2 class='text-xl font-medium'>网站相关证书</h2>
      <p class="font-bold">以下图片、证明及资料仅供本站展示，<span style="color:red;">严禁盗用或复制</span></p>
      <Collapse title='点击查看'>
        <figure class="mt-4">
          <img
            src="https://tc.ljx.icu/file/imgs/AkM2pC1N.png"
            alt="域名证书"
            loading="lazy"
            class="rounded shadow max-w-sm md:max-w-md mx-auto my-0"
          />
          <figcaption class="mt-2 text-sm text-gray-600 text-center">域名证书</figcaption>
        </figure>
        <figure class="mt-4">
          <img
            src="https://tc.ljx.icu/file/imgs/akDSAVDu.png"
            alt="ICP备案查询"
            loading="lazy"
            class="rounded shadow mx-auto my-0"
          />
          <figcaption class="mt-2 text-sm text-gray-600 text-center">ICP备案查询</figcaption>
        </figure>
        <figure class="mt-4">
          <img
            src="https://tc.ljx.icu/file/imgs/DddAzfN8.png"
            alt="公安备案查询"
            loading="lazy"
            class="rounded shadow mx-auto my-0"
          />
          <figcaption class="mt-2 text-sm text-gray-600 text-center">公安备案查询</figcaption>
        </figure>
      </Collapse>
    </div>
  </main>
</PageLayout>