---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import TextBackground from '@/components/custom/TextBackground.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
// import SkillLayout from '@/components/home/SkillLayout.astro'
import config from '@/site-config'

// const languages = ['Html', 'JavaScript', 'CSS', 'Shell']
// const frontend = ['TypeScript', 'Vite', 'Webpack', 'Astro']
// const backend = ['Vercel', 'Waline']

const MAX_POSTS = 10
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)

const imagePath = config.logo.src
const images = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/*.{jpeg,jpg,png,gif,avif,webp}'
)
if (imagePath && !images[imagePath])
  throw new Error(
    `"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif,avif,webp}"`
  )
---

<PageLayout meta={{ title: '首页' }} highlightColor='#FFF8DC'>
  <main class='flex w-full flex-col items-center'>
    <!-- 诗歌背景组件 -->
    <TextBackground variant='poem' />
      <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
        <Image
          src={images[imagePath]()}
          alt={config.logo.alt || 'Logo'}
          class='h-28 w-auto rounded-full border p-1'
          loading='eager'
          fetchpriority='high'
        />

        <div class='flex flex-col items-center gap-y-4'>
          <h1 class='text-3xl font-medium'>{config.author}</h1>
          <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
            <Label title='中国•湖北'>
              <Icon name='location' class='size-5' slot='icon' />
            </Label>
            <Label title='GitHub' as='a' href='https://github.com/ljxme' target='_blank'>
              <Icon name='github' class='size-5' slot='icon' />
            </Label>
          </div>
        </div>
      <!-- 
      {/* Get template */}
      <a
        href='https://github.com/cworld1/astro-theme-pure'
        target='_blank'
        class='flex flex-row items-center gap-x-3 rounded-full border bg-background px-4 py-2 text-sm shadow-sm transition-shadow hover:shadow-md'
      >
        <span class='relative flex items-center justify-center'>
          <span
            class='absolute size-2 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75'
          ></span>
          <span class='size-2 rounded-full bg-green-400'></span>
        </span>
        <p class='font-medium text-muted-foreground'>Get Template</p>
      </a>
      -->
      </section>

    <div
      id='content'
      class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'
    >
      <div class='flex flex-col gap-y-10'>
        <Section title='关于'>
          <p class='text-muted-foreground'>Student</p>
          <p class='text-muted-foreground'>
            The blade follows the mind,leaving no trace in the wind.
          </p>
          <p class='text-muted-foreground'>
            Each flip and fold reveals the way in stillness.
          </p>
          <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
        </Section>
        {
          allPostsByDate.length > 0 && (
            <Section title='文章'>
              <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
                {allPostsByDate.map((p) => (
                  <li class='flex flex-col gap-x-2 sm:flex-row'>
                    <PostPreview post={p} />
                  </li>
                ))}
              </ul>
              <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
            </Section>
          )
        }
        <Section title='网页'>
          <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
            <ProjectCard
              href='https://hot.ljx.icu'
              heading='Daily Hot'
              subheading='Gather hot spots on the whole network, and see all the popular ones'
              imagePath='/src/assets/projects/daily-hot.png'
            />
            <ProjectCard
              href='https://mm.ljx.icu'
              heading='Gossip'
              subheading='Share gossip with the world, and see what others think'
              imagePath='/src/assets/projects/mm.png'
            />
          </div>
        </Section>
      </div>
    </div>

    <Quote class='mt-12' />
  </main>
</PageLayout>
